doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(oncontextmenu='return false')
    block content
    script(src='/build/bundle.js')
